<h1>Upload a Fridge Image for Prediction of Brand</h1>
<form action="/fridge/file" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Predict">
</form>